In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import time

### 팩토리얼 구하기

In [3]:
def factory(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

In [4]:
factory(5)

120

In [5]:
factory(10)

3628800

In [6]:
factory(1)

1

In [7]:
def factory2(n):
    result = 1
    for i in range(1, n+1):
        result = factory2(n-1)*n
    return result

In [8]:
def factory2_with_stop(n):
    result = factory2(n-1)*n
    n = n-1
    return result

In [9]:
factory2_with_stop(5)

120

In [10]:
factory2_with_stop(10)

3628800

In [11]:
factory2(5)

120

In [12]:
factory2(10)

3628800

In [13]:
def factory_book(n):
    if n <= 1:
        return 1
    return n*factory_book(n-1)

In [14]:
factory_book(5)

120

In [15]:
factory_book(10)

3628800

In [16]:
factory_book(1)

1

### 연습문제
#### 4-1. 문제 1의 1부터 n까지의 합 구하기를 재귀 호출로 만들어 보세요.

In [1]:
def sum_prob(n):
    if n <= 0:
        return 0
    return n + sum_prob(n-1)

In [2]:
sum_prob(10)

55

In [3]:
sum_prob(100)

5050

#### 4-2. 문제 2의 숫자 n개 중에서 최댓값 찾기를 재귀호출로 만들어 보세요.

In [4]:
# def find_max_recursion(n):
#     n_n = 0
#     if type(n) is list:
#         n_n = n[0]
#     else:
#         n_n = n
#     if n_n > find_max_recursion(n[1]):
#         return n_n
#     n.pop(n[0])

In [5]:
def find_max_recursion_book(a, n):
    print("a is ", a, "n is ", n)
    if n == 1:
        return a[0]
    print("n is ", n)
    max_n_1 = find_max_recursion_book(a, n - 1)
    print("max_n_1 is ", max_n_1)
    if max_n_1 > a[n - 1]:
        return max_n_1
        print("max_n_1 is ", max_n_1)
    else:
        return a[n - 1]

In [63]:
v = [17, 92, 18, 33, 58, 7, 33, 42]

In [64]:
start_time = time.time()

In [65]:
find_max_recursion_book(v, len(v))

a is  [17, 92, 18, 33, 58, 7, 33, 42] n is  8
n is  8
a is  [17, 92, 18, 33, 58, 7, 33, 42] n is  7
n is  7
a is  [17, 92, 18, 33, 58, 7, 33, 42] n is  6
n is  6
a is  [17, 92, 18, 33, 58, 7, 33, 42] n is  5
n is  5
a is  [17, 92, 18, 33, 58, 7, 33, 42] n is  4
n is  4
a is  [17, 92, 18, 33, 58, 7, 33, 42] n is  3
n is  3
a is  [17, 92, 18, 33, 58, 7, 33, 42] n is  2
n is  2
a is  [17, 92, 18, 33, 58, 7, 33, 42] n is  1
max_n_1 is  17
max_n_1 is  92
max_n_1 is  92
max_n_1 is  92
max_n_1 is  92
max_n_1 is  92
max_n_1 is  92

92

In [66]:
print("***%s seconds ***" % (time.time() - start_time))

***0.3664083480834961 seconds ***

In [20]:
def find_max_recursion(n, gtn=None):
    print(n)
    if gtn is None:
        gtn = n.pop()
        print("gtn is ", gtn)
    current = n.pop()
    print("current is ", current)
    if current > gtn:
        gtn = current
        print("gtn is ", gtn)
    if n:
        print("n is ", n)
        return find_max_recursion(n, gtn)
    return gtn

In [67]:
v = [17, 92, 18, 33, 58, 7, 33, 42]

In [68]:
start_time = time.time()

In [69]:
find_max_recursion(v)

[17, 92, 18, 33, 58, 7, 33, 42]
gtn is  42
current is  33
n is  [17, 92, 18, 33, 58, 7]
[17, 92, 18, 33, 58, 7]
current is  7
n is  [17, 92, 18, 33, 58]
[17, 92, 18, 33, 58]
current is  58
gtn is  58
n is  [17, 92, 18, 33]
[17, 92, 18, 33]
current is  33
n is  [17, 92, 18]
[17, 92, 18]
current is  18
n is  [17, 92]
[17, 92]
current is  92
gtn is  92
n is  [17]
[17]
current is  17

92

In [70]:
print("***%s seconds ***" % (time.time() - start_time))

***0.2870452404022217 seconds ***

In [60]:
ll = [4, 58, 785312, 45]

In [61]:
find_max_recursion(ll)

[4, 58, 785312, 45]
gtn is  45
current is  785312
gtn is  785312
n is  [4, 58]
[4, 58]
current is  58
n is  [4]
[4]
current is  4

785312

In [62]:
ll2 = [7, 589, 51, 63]

In [28]:
find_max_recursion(ll2)

[7, 589, 51, 63]
gtn is  63
current is  51
n is  [7, 589]
[7, 589]
current is  589
gtn is  589
n is  [7]
[7]
current is  7

589

### 최대공약수 찾기

In [29]:
def greatest_common_divisor(n1, n2):
    i = min(n1, n2)
    while(i > 0):
        if n1 % i == 0 and n2 % i == 0:
            return i
        i -= 1

In [30]:
def greatest_common_divisor2(n1, n2):
    i = 0
    if n1 < n2:
        i = n1
    else:
        i = n2
    while(i > 0):
        if n1 % i == 0 and n2 % i == 0:
            return i
        i -= 1

In [31]:
greatest_common_divisor(4, 6)
greatest_common_divisor(1, 5)
greatest_common_divisor(3, 6)
greatest_common_divisor(60, 24)
greatest_common_divisor(81, 27)

2

1

3

12

27

In [32]:
greatest_common_divisor2(4, 6)
greatest_common_divisor2(1, 5)
greatest_common_divisor2(3, 6)
greatest_common_divisor2(60, 24)
greatest_common_divisor2(81, 27)

2

1

3

12

27

In [33]:
def gcd_book(a, b):
    i = min(a, b)
    while True:
        if a % i == 0 and b % i == 0:
            return i
        i = i - 1

In [34]:
gcd_book(4, 6)
gcd_book(81, 27)

2

27

In [35]:
def gcd_euclid_book(a, b):
    print("gcd_euclid_book: ", a, b)
    if b == 0:
        return a
    return gcd_euclid_book(b, a % b)

In [36]:
gcd_euclid_book(4, 6)
gcd_euclid_book(81, 27)
gcd_euclid_book(60, 24)

gcd_euclid_book:  4 6
gcd_euclid_book:  6 4
gcd_euclid_book:  4 2
gcd_euclid_book:  2 0

2

gcd_euclid_book:  81 27
gcd_euclid_book:  27 0

27

gcd_euclid_book:  60 24
gcd_euclid_book:  24 12
gcd_euclid_book:  12 0

12

### 연습문제
#### 5-1.  0과 1부터 시작해서 바로 앞의 두 수를 더한 값을 다음 값으로 추가하는 방식으로 만든 수열을 피보나치 수열이라고 합니다. 즉, 0+1=1, 1+1=2, 1+2=3이므로 피보나치 수열은 다음과 같습니다. 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55 …피보나치 수열이 파이썬의 리스트처럼 0번부터 시작한다고 가정할 때 n번째 피보나치 수를 구하는 알고리즘을 재귀 호출을 이용해서 구현해 보세요(힌트: 7번 값 = 5번 값 + 6번 값)

In [37]:
def fibonacci(n):
    print("n : ", n)
    if n == 0:
        return 0
    elif n == 1:
        return 1
    return fibonacci(n-1) + fibonacci(n-2)

In [38]:
fibonacci(5)

n :  5
n :  4
n :  3
n :  2
n :  1
n :  0
n :  1
n :  2
n :  1
n :  0
n :  3
n :  2
n :  1
n :  0
n :  1

5

### 하노이의 탑 옯기기

In [39]:
def hanoi(n, from_pos, to_pos, aux_pos):
    if n == 1:
        print(from_pos, " -> ", to_pos)
        return
    
    hanoi(n - 1, from_pos, aux_pos, to_pos)
    print(from_pos, " -> ", to_pos)
    
    hanoi(n-1, aux_pos, to_pos, from_pos)

In [40]:
print("n = 1")
hanoi(1, 1, 3, 2)

print("n = 2")
hanoi(2, 1, 3, 2)

print("n = 3")
hanoi(3, 1, 3, 2) #

n = 1
1  ->  3
n = 2
1  ->  2
1  ->  3
2  ->  3
n = 3
1  ->  3
1  ->  2
3  ->  2
1  ->  3
2  ->  1
2  ->  3
1  ->  3

In [41]:
print("n = 5")
hanoi(5, 1, 3, 2)

n = 5
1  ->  3
1  ->  2
3  ->  2
1  ->  3
2  ->  1
2  ->  3
1  ->  3
1  ->  2
3  ->  2
3  ->  1
2  ->  1
3  ->  2
1  ->  3
1  ->  2
3  ->  2
1  ->  3
2  ->  1
2  ->  3
1  ->  3
2  ->  1
3  ->  2
3  ->  1
2  ->  1
2  ->  3
1  ->  3
1  ->  2
3  ->  2
1  ->  3
2  ->  1
2  ->  3
1  ->  3

### 재귀호출을 이용한 그림그리기

In [42]:
import turtle as t

In [43]:
def spiral(sp_len):
    if sp_len <= 5:
        return
    t.forward(sp_len)
    t.right(90)
    spiral(sp_len - 5)

In [44]:
t.speed(0)
spiral(200)
t.hideturtle()
t.done()

In [47]:
def tri(tri_len):
    if tri_len <= 10:
        for i in range(0, 3):
            t.forward(tri_len)
            t.left(120)
        return

    new_len = tri_len / 2
    tri(new_len)
    t.forward(new_len)
    tri(new_len)
    t.backward(new_len)
    t.left(60)
    t.forward(new_len)
    t.right(60)
    tri(new_len)
    t.left(60)
    t.backward(new_len)
    t.right(60)

In [49]:
t.speed(0)
tri(160)
t.hideturtle()
t.done()

In [50]:
def tree(br_len):
    if br_len <= 5:
        return
    new_len = br_len * 0.7
    t.forward(br_len)
    t.right(20)
    tree(new_len)
    t.left(40)
    tree(new_len)
    t.right(20)
    t.backward(br_len)

In [52]:
t.speed(0)
t.left(90)
tree(70)
t.hideturtle()
t.done()

In [53]:
def snow_line(snow_len):
    if snow_len <= 10:
        t.forward(snow_len)
        return
    new_len = snow_len / 3
    snow_line(new_len)
    t.left(60)
    snow_line(new_len)
    t.right(120)
    snow_line(new_len)
    t.left(60)
    snow_line(new_len)

In [55]:
t.speed(0)
snow_line(150)
t.right(120)
snow_line(150)
t.right(120)
snow_line(150)
t.hideturtle()
t.done()