In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# 셋째 마당 정렬과 탐색

### 07 순차탐색

In [16]:
def sequence_search(l, n):
    lg = len(l)
    for i in range(0, lg):
        if l[i] == n:
            return i
    return -1

In [17]:
a = [4, 56, 75, 587, 1]

In [19]:
sequence_search(a, 75)

2

In [20]:
v = [17, 92, 18, 33, 58, 5, 33, 42]

In [21]:
sequence_search(v, 83)
sequence_search(v, 18)
sequence_search(v, 33)
sequence_search(v, 900)

-1

2

3

-1

### 연습문제
#### 7-1. 프로그램 7-1은 리스트에 찾는 값이 여러 개 있더라도 첫 번째 위치만 되돌려 줍니다. 찾는 값이 나오는 모든 위치를 리스트로 돌려주는 탐색 알고리즘을 만들어 보세요. 찾는 값이 리스트에 없다면 빈 리스트인 []을 돌려줍니다.

In [22]:
def seq_search_list(in_l, find_l):
    result = []
    n = len(find_l)
    for i in range(0, n):
        if find_l[i] in in_l:
            result.append(in_l.index(find_l[i]))
        else:
            pass
    return result

In [23]:
v = [17, 92, 18, 33, 58, 5, 33, 42]
seq_search_list(v, [83, 18, 33, 900])

[2, 3]

#### 7-2. 연습문제 7-1 프로그램의 계산 복잡도는 무엇일까요?
> O(n)

#### 7-3. 다음과 같이 학생 번호와 이름이 리스트로 주어졌을 때 학생 번호를 입력하면 학생 번호에 해당하는 이름을 순차 탐색으로 찾아 돌려주는 함수를 만들어 보세요. 해당하는 학생 번호가 없으면 물음표(?)를 돌려줍니다. 참고로 학생 번호가 39번이면 “Justin”, 14번이면 “John”을 돌려줍니다.

In [24]:
stu_no = [39, 14, 67, 105]
stu_name = ['Justin', 'John', 'Mike', 'Summer']

In [25]:
# def find_stu_name(no):
#     no_n = len(stu_no)
#     name_n = len(stu_name)
#     for i in range(0, no_n):

### 08 선택정렬

In [27]:
def selection_sort(lst):
    n = len(lst)
    result = []
    for i in range(0, n):
        m = lst.pop(lst.index(min(lst)))
        result.append(m)
    return result

In [43]:
def find_min(lst):
    n = len(lst)
    tmp = 0
    for i in range(1, n):
        if lst[i] < lst[tmp]:
            tmp = i
    return tmp

In [44]:
def selection_sort_book(lst):
    result = []
    while lst:
        idx = find_min(lst)
        value = lst.pop(idx)
        result.append(value)
    return result

In [45]:
v = [35, 9, 2, 85, 17]

In [46]:
selection_sort(v)

[2, 9, 17, 35, 85]

In [47]:
v = [35, 9, 2, 85, 17]

In [48]:
selection_sort_book(v)

[2, 9, 17, 35, 85]

In [49]:
def sel_sort_book(lst):
    n = len(lst)
    for i in range(0, n - 1):
        min_idx = i
        for j in range(i+1, n):
            if lst[j] < lst[min_idx]:
                min_idx = j
            lst[i], lst[min_idx] = lst[min_idx], lst[i]

In [50]:
d = [2, 4, 5, 1, 3]

In [53]:
sel_sort_book(d)
print(d)

[1, 2, 3, 4, 5]

In [54]:
# 수정 및 다시 생각
# def sel_sort(lst):
#     n = len(lst)
#     idx = []
#     for i in range(0, n):
#         min_idx = lst.index(min(lst))
#         idx.append(min_idx)
#         lst.insert(idx[i], lst[min_idx])

### 연습문제

#### 8-1. 일반적인 선택 정렬 알고리즘을 사용해서 리스트 [2, 4, 5, 1, 3]을 정렬하는 과정을 적어보세요

> 대상 범위 내의 최솟값을 찾아서 범위 맨 탚에 있는 값을 바꾸는 과정을 반복하는 것. 과정 한 번 종료될 때 마다 대상 범위에서 맨 앞의 값은 제외.
0. [2, 4, 5, 1, 3] 에서 최솟값을 찾는다. -> 1
1. [1, 4, 5, 2, 3] 1과 2의 자리를 바꾼다. (1을 맨 앞 위치로 이동)
2. [1| 4, 5, 2, 3] 1을 제외한 나머지 값들 중에서 최솟값을 찾는다. -> 2
3. [1, 2, 5, 4, 3] 2와 4의 자리를 바꾼다.(2를 대상 범위 맨 앞 위치로 이동)
4. [1, 2| 5, 4, 3] 정렬이 끝난 1과 2를 제외한 나머지 값들 중에서 최솟값 찾는다. -> 3
5. [1, 2, 3, 5, 4] 3과 5의 자리를 바꾼다.(3을 대상 범위 맨 앞 위치로 이동)
6. [1, 2, 3| 5, 4] 정렬이 끝난 3까지를 제외한 나머지 값 중에서 최솟값을 찾는다. -> 4
7. [1, 2, 3, 4, 5] 4와 5의 자리를 바꾼다.(4를 대상 범위 맨 앞으로 이동)
8. [1, 2, 3, 4| 5] 대상 범위가 5 히나만 남은 관계로 종료

#### 8-2. 프로그램 8-1과 8-2의 정렬 알고리즘은 숫자를 작은 수에서 큰 수 순서로 나열하는 오름차순 정렬이었습니다. 이 알고리즘을 큰 수에서 작은 수 순서로 나열하는 내림차순 정렬로 바꾸려면 프로그램의 어느 부분을 바꿔야 할까요?

> 대상 범위 내에서 최솟값이 아닌 최댓값을 찾으면 된다.

In [55]:
def sel_d_sort(lst):
    n = len(lst)
    for i in range(0, n - 1):
        max_idx = i
        for j in range(i+1, n):
            if lst[j] > lst[max_idx]:
                max_idx = j
            lst[i], lst[max_idx] = lst[max_idx], lst[i]

In [56]:
d = [2, 4, 5, 1, 3]

In [57]:
sel_d_sort(d)

In [59]:
print(d)

[5, 4, 3, 2, 1]

### 09 삽입정렬

In [62]:
# 책과 함께합니다..
def find_ins_idx(lst, value):
    n = len(lst)
    for i in range(0, n):
        if value < lst[i]:
            return i
    return n

def insert_sort(in_lst):
    result = []
    while in_lst:
        in_value = in_lst.pop(0)
        find_idx = find_ins_idx(result, in_value)
        result.insert(find_idx, in_value)
        print(in_lst, result)
    return result

In [63]:
d = [2, 4, 5, 1, 3]

In [64]:
insert_sort(d)

[4, 5, 1, 3] [2]
[5, 1, 3] [2, 4]
[1, 3] [2, 4, 5]
[3] [1, 2, 4, 5]
[] [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [65]:
def insert_sort(lst):
    n = len(lst)
    for i in range(1, n):
        print("===================")
        key = lst[i]
        j = i - 1
        print("key is ", key)
        print("j is ", j)
        while j >= 0 and lst[j] > key:
            lst[j+1] = lst[j]
            print("lst is ", lst)
            j -= 1
            print("j is ", j)
        lst[j + 1] = key
        print("lst is ", lst)

In [66]:
d = [2, 4, 5, 1, 3]

In [67]:
insert_sort(d)

===================
key is  4
j is  0
lst is  [2, 4, 5, 1, 3]
===================
key is  5
j is  1
lst is  [2, 4, 5, 1, 3]
===================
key is  1
j is  2
lst is  [2, 4, 5, 5, 3]
j is  1
lst is  [2, 4, 4, 5, 3]
j is  0
lst is  [2, 2, 4, 5, 3]
j is  -1
lst is  [1, 2, 4, 5, 3]
===================
key is  3
j is  3
lst is  [1, 2, 4, 5, 5]
j is  2
lst is  [1, 2, 4, 4, 5]
j is  1
lst is  [1, 2, 3, 4, 5]

In [68]:
print(d)

[1, 2, 3, 4, 5]

### 연습문제

#### 9-1. 일반적인 삽입 정렬 알고리즘을 사용해서 리스트 [2, 4, 5, 1, 3]을 정렬하는 과정을 적어보세요.

> 대상 범위 맨 앞 값을 적절한 자리에 넣는 과정을 반복. 한 번의 과정이 종료되면 맨 앞 값은 정렬된 값이므로 대상 범위는 하나씩 줄어든다.
0. [2, 4, 5, 1, 3] 2와 4를 비교. 2가 더 작은 수이므로 그대로.
1. [2, 4, 5, 1, 3] 2, 4와 5를 비교. 2보다 크고 4보다 큰 수 이므로 위치 그대로.
2. [1, 2, 4, 5, 3] 2와 1을 비교. 1이 더 작은 수이고. 4, 5보다도 작은 수 이므로 맨 앞에 삽입
3. [1, 2, 3, 4, 5] 2와 3 비교. 2보다는 크고 4, 5 보다는 작으므로 4, 5 앞 위치로 삽입.

#### 9-2. 문제 9에서 설명한 정렬 알고리즘은 숫자를 작은 수에서 큰 수 순서로 나열하는 오름차순 정렬이었습니다. 이를 큰 수에서 작은 수 순서로 나열하는 내림차순 정렬로 바꾸려면 프로그램의 어느 부분을 바꿔야 할까요?
> 작은 수에서 큰 수 정렬 알고리즘에서 비교 부분 대소 방향을 바꾸면 됩니다.

In [69]:
def insert_d_sort(lst):
    n = len(lst)
    for i in range(1, n):
        key = lst[i]
        j = i - 1
        while j >= 0 and lst[j] < key:
            lst[j + 1] = lst[j]
            j -= 1
        lst[j+1] = key

In [70]:
d = [2, 4, 5, 1, 3]

In [71]:
insert_d_sort(d)

In [72]:
print(d)

[5, 4, 3, 2, 1]

### 10 병합정렬

In [73]:
# 책과 함께합니다..
def merge_sort(lst):
    n = len(lst)
    print("=============")
    print("n is ", n)
    if n <= 1:
        return lst
    mid = n // 2
    print("mid is ", mid)
    group1 = merge_sort(lst[:mid])
    group2 = merge_sort(lst[mid:])
    
    result = []
    print("result is ", result)
    while group1 and group2:
        print("group1[0]", group1[0])
        print("group2[0]", group2[0])
        if group1[0] < group2[0]:
            result.append(group1.pop(0))
        else:
            result.append(group2.pop(0))
    print("result after while is ", result)
    
    while group1:
        result.append(group1.pop(0))
    while group2:
        result.append(group2.pop(0))
    print("final result is ", result)
    return result

In [74]:
d = [6, 8, 3, 9, 10, 1, 2, 4, 7, 5]

In [75]:
print(merge_sort(d))

=============
n is  10
mid is  5
=============
n is  5
mid is  2
=============
n is  2
mid is  1
=============
n is  1
=============
n is  1
result is  []
group1[0] 6
group2[0] 8
result after while is  [6]
final result is  [6, 8]
=============
n is  3
mid is  1
=============
n is  1
=============
n is  2
mid is  1
=============
n is  1
=============
n is  1
result is  []
group1[0] 9
group2[0] 10
result after while is  [9]
final result is  [9, 10]
result is  []
group1[0] 3
group2[0] 9
result after while is  [3]
final result is  [3, 9, 10]
result is  []
group1[0] 6
group2[0] 3
group1[0] 6
group2[0] 9
group1[0] 8
group2[0] 9
result after while is  [3, 6, 8]
final result is  [3, 6, 8, 9, 10]
=============
n is  5
mid is  2
=============
n is  2
mid is  1
=============
n is  1
=============
n is  1
result is  []
group1[0] 1
group2[0] 2
result after while is  [1]
final result is  [1, 2]
=============
n is  3
mid is  1
=============
n is  1
=============
n is  2
mid is  1
=============
n is  1
=============
n is  1
result is  []
group1[0] 7
group2[0] 5
result after while is  [5]
final result is  [5, 7]
result is  []
group1[0] 4
group2[0] 5
result after while is  [4]
final result is  [4, 5, 7]
result is  []
group1[0] 1
group2[0] 4
group1[0] 2
group2[0] 4
result after while is  [1, 2]
final result is  [1, 2, 4, 5, 7]
result is  []
group1[0] 3
group2[0] 1
group1[0] 3
group2[0] 2
group1[0] 3
group2[0] 4
group1[0] 6
group2[0] 4
group1[0] 6
group2[0] 5
group1[0] 6
group2[0] 7
group1[0] 8
group2[0] 7
result after while is  [1, 2, 3, 4, 5, 6, 7]
final result is  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 일반적인 병합정렬 알고리즘

In [76]:
def general_merge_sort(lst):
    n = len(lst)
    if n <= 1:
        return
    mid = n // 2
    print("mid is ", mid)
    group1 = lst[:mid]
    group2 = lst[mid:]
    print("==============")
    print("lst is ", lst)
    print("group1 is ", group1)
    print("goup2 is", group2)
    general_merge_sort(group1)
    general_merge_sort(group2)
    
    i1 = 0
    i2 = 0
    ilst = 0
    print("**************")
    print("i1 is ", i1)
    print("i2 is ", i2)
    print("ilst is ", ilst)
    
    while i1 < len(group1) and i2 <len(group2):
        if group1[i1] < group2[i2]:
            lst[ilst] = group1[i1]
            i1 += 1
            ilst += 1
        else:
            lst[ilst] = group2[i2]
            i2 += 1
            ilst += 1
    print("=*=*=*=*=*=*=*=*=*")
    print("i1 is ", i1)
    print("i2 is ", i2)
    print("ilst is ", ilst)
    
    while i1 < len(group1):
        lst[ilst] = group1[i1]
        i1 += 1
        ilst += 1
    while i2 < len(group2):
        lst[ilst] = group2[i2]
        i2 += 1
        ilst += 1

In [77]:
d = [6, 8, 3, 9, 10, 1, 2, 4, 7, 5]

In [78]:
general_merge_sort(d)

mid is  5
==============
lst is  [6, 8, 3, 9, 10, 1, 2, 4, 7, 5]
group1 is  [6, 8, 3, 9, 10]
goup2 is [1, 2, 4, 7, 5]
mid is  2
==============
lst is  [6, 8, 3, 9, 10]
group1 is  [6, 8]
goup2 is [3, 9, 10]
mid is  1
==============
lst is  [6, 8]
group1 is  [6]
goup2 is [8]
**************
i1 is  0
i2 is  0
ilst is  0
=*=*=*=*=*=*=*=*=*
i1 is  1
i2 is  0
ilst is  1
mid is  1
==============
lst is  [3, 9, 10]
group1 is  [3]
goup2 is [9, 10]
mid is  1
==============
lst is  [9, 10]
group1 is  [9]
goup2 is [10]
**************
i1 is  0
i2 is  0
ilst is  0
=*=*=*=*=*=*=*=*=*
i1 is  1
i2 is  0
ilst is  1
**************
i1 is  0
i2 is  0
ilst is  0
=*=*=*=*=*=*=*=*=*
i1 is  1
i2 is  0
ilst is  1
**************
i1 is  0
i2 is  0
ilst is  0
=*=*=*=*=*=*=*=*=*
i1 is  2
i2 is  1
ilst is  3
mid is  2
==============
lst is  [1, 2, 4, 7, 5]
group1 is  [1, 2]
goup2 is [4, 7, 5]
mid is  1
==============
lst is  [1, 2]
group1 is  [1]
goup2 is [2]
**************
i1 is  0
i2 is  0
ilst is  0
=*=*=*=*=*=*=*=*=*
i1 is  1
i2 is  0
ilst is  1
mid is  1
==============
lst is  [4, 7, 5]
group1 is  [4]
goup2 is [7, 5]
mid is  1
==============
lst is  [7, 5]
group1 is  [7]
goup2 is [5]
**************
i1 is  0
i2 is  0
ilst is  0
=*=*=*=*=*=*=*=*=*
i1 is  0
i2 is  1
ilst is  1
**************
i1 is  0
i2 is  0
ilst is  0
=*=*=*=*=*=*=*=*=*
i1 is  1
i2 is  0
ilst is  1
**************
i1 is  0
i2 is  0
ilst is  0
=*=*=*=*=*=*=*=*=*
i1 is  2
i2 is  0
ilst is  2
**************
i1 is  0
i2 is  0
ilst is  0
=*=*=*=*=*=*=*=*=*
i1 is  2
i2 is  5
ilst is  7

In [79]:
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 연습문제

#### 10-1. 프로그램 10-2에서 다룬 정렬 알고리즘은 숫자를 작은 수에서 큰 수 순서로 나열하는 오름차순 정렬이었습니다. 오름차순 정렬을 큰 수에서 작은 수 순서로 나열하는 내림차순 정렬로 바꾸려면 프로그램의 어느 부분을 바꿔야 할까요?
> 대소비교 방향을 바꾼다

In [80]:
def merge_g_sort(lst):
    n = len(lst)
    print("=============")
    print("n is ", n)
    if n <= 1:
        return lst
    mid = n // 2
    print("mid is ", mid)
    group1 = merge_g_sort(lst[:mid])
    group2 = merge_g_sort(lst[mid:])
    
    result = []
    print("result is ", result)
    while group1 and group2:
        print("group1[0]", group1[0])
        print("group2[0]", group2[0])
        if group1[0] > group2[0]:
            result.append(group1.pop(0))
        else:
            result.append(group2.pop(0))
    print("result after while is ", result)
    
    while group1:
        result.append(group1.pop(0))
    while group2:
        result.append(group2.pop(0))
    print("final result is ", result)
    return result

In [81]:
merge_g_sort(d)

=============
n is  10
mid is  5
=============
n is  5
mid is  2
=============
n is  2
mid is  1
=============
n is  1
=============
n is  1
result is  []
group1[0] 1
group2[0] 2
result after while is  [2]
final result is  [2, 1]
=============
n is  3
mid is  1
=============
n is  1
=============
n is  2
mid is  1
=============
n is  1
=============
n is  1
result is  []
group1[0] 4
group2[0] 5
result after while is  [5]
final result is  [5, 4]
result is  []
group1[0] 3
group2[0] 5
group1[0] 3
group2[0] 4
result after while is  [5, 4]
final result is  [5, 4, 3]
result is  []
group1[0] 2
group2[0] 5
group1[0] 2
group2[0] 4
group1[0] 2
group2[0] 3
result after while is  [5, 4, 3]
final result is  [5, 4, 3, 2, 1]
=============
n is  5
mid is  2
=============
n is  2
mid is  1
=============
n is  1
=============
n is  1
result is  []
group1[0] 6
group2[0] 7
result after while is  [7]
final result is  [7, 6]
=============
n is  3
mid is  1
=============
n is  1
=============
n is  2
mid is  1
=============
n is  1
=============
n is  1
result is  []
group1[0] 9
group2[0] 10
result after while is  [10]
final result is  [10, 9]
result is  []
group1[0] 8
group2[0] 10
group1[0] 8
group2[0] 9
result after while is  [10, 9]
final result is  [10, 9, 8]
result is  []
group1[0] 7
group2[0] 10
group1[0] 7
group2[0] 9
group1[0] 7
group2[0] 8
result after while is  [10, 9, 8]
final result is  [10, 9, 8, 7, 6]
result is  []
group1[0] 5
group2[0] 10
group1[0] 5
group2[0] 9
group1[0] 5
group2[0] 8
group1[0] 5
group2[0] 7
group1[0] 5
group2[0] 6
result after while is  [10, 9, 8, 7, 6]
final result is  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 11 퀵 정렬

In [82]:
def quick_sort(lst):
    n = len(lst)
    if n <= 1:
        return lst
    
    mid = lst[-1]
    group1 = []
    group2 = []
    for i in range(0, n - 1):
        if lst[i] < mid:
            group1.append(lst[i]) 
        else:
            group2.append(lst[i])
            
    return quick_sort(group1) + [mid] + quick_sort(group2)

In [83]:
d = [6, 8, 3, 9, 10, 1, 2, 4, 7, 5]

In [84]:
quick_sort(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
def general_quick_sort_sub(sub_lst, start, end):
    if end - start <= 0:
        return
    mid = sub_lst[end]
    i = start
    for j in range(start, end):
        if sub_lst[j] <= mid:
            sub_lst[i], sub_lst[j] = sub_lst[j], sub_lst[i]
            i += 1
    sub_lst[i] , sub_lst[end] = sub_lst[end], sub_lst[i]
    
    general_quick_sort_sub(sub_lst, start, i - 1)
    general_quick_sort_sub(sub_lst, i + 1, end)

def general_quick_sort(lst):
    general_quick_sort_sub(lst, 0, len(lst) - 1)

In [86]:
d = [6, 8, 3, 9, 10, 1, 2, 4, 7, 5]

In [87]:
general_quick_sort(d)

In [88]:
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 12 이분탐색

In [89]:
def binary_search(lst, num):
    start = 0
    end = len(lst) - 1
    
    while start <= end:
        mid_idx = (start + end) // 2
        print("==================")
        print("mid_idx is ", mid_idx)
        print("start is ", start)
        print("end is ", end)
        if num == lst[mid_idx]:
            return mid_idx
        elif num > lst[mid_idx]:
            start = mid_idx + 1
        else:
            end = mid_idx - 1
        print("******************")
        print("mid_idx is ", mid_idx)
        print("start is ", start)
        print("end is ", end)
    return -1

In [90]:
d = [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [91]:
binary_search(d, 36)

==================
mid_idx is  4
start is  0
end is  8
******************
mid_idx is  4
start is  5
end is  8
==================
mid_idx is  6
start is  5
end is  8
******************
mid_idx is  6
start is  5
end is  5
==================
mid_idx is  5
start is  5
end is  5

5

In [92]:
binary_search(d, 50)

==================
mid_idx is  4
start is  0
end is  8
******************
mid_idx is  4
start is  5
end is  8
==================
mid_idx is  6
start is  5
end is  8
******************
mid_idx is  6
start is  7
end is  8
==================
mid_idx is  7
start is  7
end is  8
******************
mid_idx is  7
start is  7
end is  6

-1

### 연습문제

#### 12-1. 다음 과정을 참고하여 재귀 호출을 사용한 이분 탐색 알고리즘을 만들어 보세요.
① 주어진 탐색 대상이 비어 있다면 탐색할 필요가 없습니다(종료 조건).

② 찾는 값과 주어진 탐색 대상의 중간 위치 값을 비교합니다.

③ 찾는 값과 중간 위치 값이 같다면 결괏값으로 중간 위치 값을 돌려줍니다.

④ 찾는 값이 중간 위치 값보다 크다면 중간 위치의 오른쪽을 대상으로 이분 탐색 함수를 재귀 호출합니다.

⑤ 찾는 값이 중간 위치 값보다 작다면 중간 위치의 왼쪽을 대상으로 이분 탐색 함수를 재귀 호출합니다.

In [93]:
def p_binary_sub(lst, num, start, end):
    if start > end:
        return -1
    
    mid_idx = (start + end) // 2
    print("lst is ", lst)
    print("start is ", start)
    print("end is ", end)
    print("mid_idx is ", mid_idx)
    
    if num == lst[mid_idx]:
        return mid_idx
    elif num > lst[mid_idx]:
        return p_binary_sub(lst, num, mid_idx + 1, end)
    else:
        return p_binary_sub(lst[:mid_idx], num, start, mid_idx - 1)
    return -1

        
def p_binary(lst, num):
    return p_binary_sub(lst, num, 0, len(lst) - 1)

In [94]:
d = [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [95]:
p_binary(d, 36)

lst is  [1, 4, 9, 16, 25, 36, 49, 64, 81]
start is  0
end is  8
mid_idx is  4
lst is  [1, 4, 9, 16, 25, 36, 49, 64, 81]
start is  5
end is  8
mid_idx is  6
lst is  [1, 4, 9, 16, 25, 36]
start is  5
end is  5
mid_idx is  5

5

In [96]:
p_binary(d, 50)

lst is  [1, 4, 9, 16, 25, 36, 49, 64, 81]
start is  0
end is  8
mid_idx is  4
lst is  [1, 4, 9, 16, 25, 36, 49, 64, 81]
start is  5
end is  8
mid_idx is  6
lst is  [1, 4, 9, 16, 25, 36, 49, 64, 81]
start is  7
end is  8
mid_idx is  7

-1