In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### 1부터 n까지의 합 구하기

In [2]:
def sum(n):
    result = 0
    for i in range(1, n+1):
        result += 1
    return result

In [3]:
sum(10)

10

In [4]:
sum(100)

100

In [5]:
def sum2(n):
    result = n*(n+1) // 2
    return result

In [6]:
sum2(10)

55

In [7]:
sum2(100)

5050

### 연습문제
#### 1-1. 1부터 n까지 연속한 숫자의 제곱의 합을 구하는 프로그램을 for 반복문으로 만들어 보세요(예를 들어 n = 10이라면 12 + 22 +32 + … + 102 = 385를 계산하는 프로그램입니다).

In [8]:
def square_sum(n):
    result = 0
    for i in range(1, n+1):
        result += i**2
    return result

In [9]:
square_sum(10)

385

#### 1.2 연습 문제 1-1 프로그램의 계산 복잡도는 O(1)과 O(n) 중 무엇일까요?

### >> O(n)

#### 1부터 n까지 연속한 숫자의 제곱의 합을 구하는 공식은 $$n(n+1)(2n+1) \over 6$$로 알려져 있습니다. for 반복문 대신 이 공식을 이용하면 알고리즘의 계산 복잡도는 O(1)과 O(n) 중 무엇이 될까요?

### >> O(1)

In [12]:
def sum_square_book(n):
    return (n*(n+1)*(2*n+1)) // 6

In [13]:
sum_square_book(10)

385

### 최댓값 찾기

In [14]:
def max_n(n):
    result = max(n)
    return result

In [15]:
def max_idx(n):
    result = n.index(max(n))
    return result

In [16]:
a = [1,5,6,9,78, 99, 7, 45]

In [29]:
a2 = [17, 92, 18, 33, 58, 7, 33, 42]

In [17]:
max_n(a)

99

In [18]:
max_idx(a)

5

In [30]:
max_n(a2)

92

In [31]:
max_idx(a2)

1

In [19]:
def max_n2(n):
    result = 0
    for i in range(0, len(n)):
        if n[i] > result:
            result = n[i]
        else:
            pass
    return result

In [27]:
def max_idx2(n):
    max_value = 0
    result = 0
    for i in range(0, len(n)):
        if n[i] > max_value:
            max_value = n[i]
            result = i
        else:
            pass
    return result

In [25]:
max_n2(a)

99

In [28]:
max_idx2(a)

5

In [32]:
max_n2(a2)

92

In [33]:
max_idx2(a2)

1

In [21]:
def max_book(n):
    max_value = n[0]
    for i in range(1, len(n)):
        if n[i] > max_value:
            max_value = n[i]
    return max_value

In [22]:
def max_idx_book(n):
    l = len(n)
    max_idx = 0
    for i in range(1, l):
        if n[i] > n[max_idx]:
            max_idx = i
    return max_idx

In [23]:
max_book(a)

99

In [24]:
max_idx_book(a)

5

In [34]:
max_book(a2)

92

In [35]:
max_idx_book(a2)

1

### 연습문제

#### 2-1. 숫자 n개를 리스트로 입력받아 최솟값을 구하는 프로그램을 만들어 보세요.

In [40]:
def find_min(lst):
    n = len(lst)
    result = lst[0]
    for i in range(1, n):
        if lst[i] < result:
            result = lst[i]
    return result

In [41]:
def find_min2(lst):
    result = min(lst)
    return result

In [42]:
find_min(a)

1

In [44]:
find_min(a)

1

In [45]:
find_min(a2)

7

In [46]:
find_min2(a2)

7

### 동명이인 찾기

In [47]:
name = ["Tom", "Mike", "Jerry", "Tom"]

In [48]:
name2 = ["Tom", "Mike", "Jerry", "Tom", "Mike"]

In [49]:
def find_equal_name(names):
    result = set()
    n = len(names)
    for i in range(0, n):
        for j in range(0, n):
            if i != j and names[i] == names[j]:
                result.add(names[j])
    return result

In [50]:
find_equal_name(name)

{'Tom'}

In [51]:
find_equal_name(name2)

{'Mike', 'Tom'}

In [52]:
def find_same_name_book(names):
    n = len(names)
    result = set()
    for i in range(0, n-1):
        for j in range(i+1, n):
            if names[i] == names[j]:
                result.add(names[i])
    return result

In [53]:
find_same_name_book(name)

{'Tom'}

In [54]:
find_same_name_book(name2)

{'Mike', 'Tom'}

### 연습문제

#### 3-1. n명 중 두 명을 뽑아 짝을 짓는다고 할 때 짝을 지을 수 있는 모든 조합을 출력하는 알고리즘을 만들어 보세요.

In [55]:
name_lst = ["Tom", "Mike", "Chris", "Jerry"]

In [56]:
name_lst2 = ["Tom", "Mike", "Jerry"]

In [57]:
def pairs(names):
    n = len(names)
    result = set()
    for i in range(0, n-1):
        for j in range(i+1, n):
            if names[i] != names[j]:
                result.add(names[i] + " - " + names[j])
    return result

In [58]:
pairs(name_lst)

{'Chris - Jerry',
 'Mike - Chris',
 'Mike - Jerry',
 'Tom - Chris',
 'Tom - Jerry',
 'Tom - Mike'}

In [59]:
pairs(name_lst2)

{'Mike - Jerry', 'Tom - Jerry', 'Tom - Mike'}

In [62]:
def print_pairs_book(names):
    n = len(names)
    for i in range(0, n-1):
        for j in range(i+1, n):
            print(names[i], "-", names[j])

In [63]:
print_pairs_book(name_lst)

Tom - Mike
Tom - Chris
Tom - Jerry
Mike - Chris
Mike - Jerry
Chris - Jerry

In [64]:
print_pairs_book(name_lst2)

Tom - Mike
Tom - Jerry
Mike - Jerry

#### 3-2. 다음 식을 각각 대문자 O 표기법으로 표현해 보세요.

A 655366

B n-1

C $$ 2n^2 \over 3 + 10000n$$

D $$ 3n^4 - 4n^3 + 5n^2 + 6n + 7 $$

### >> A: O(1)
### >> B: O(n)
### >> C: O(n^2)
### >> D: O(n^4)